body{
     background-color: rgb(223, 235, 223)


}

h1{
    text-align: center;
    margin-top: 130px;
    color: #0A2E36;
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
}

.imgCapa{
    position: absolute;
    width: 1349px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 500px;
    border-radius: 25px;
    z-index: -1;    
}

h2{
   text-align: center;
   margin-top: 200px;
   font-size: 40px;
   color: #0A2E36;
   font-family:Arial, Helvetica, sans-serif ;
}
.pratoPrincipal{
    
    margin: 200px;
    margin-top: -20px;
    
}
.imgChickPea{
    margin-left: 103px;
    width: 728px;
    border-radius: 101px;
}

.title h3{
    margin-left: 100px;
    font-size: 30px;
    margin-top: -74px;
    color: #00370B;
    font-family:Arial, Helvetica, sans-serif ;
}

.ingredientes{
   
    width: 592px;
    margin-left: 118px;
    font-size: 25px;
    color: #007C33;
    line-height: 29px;   
    font-family: Arial, Helvetica, sans-serif;
}



.title h4{
   font-size: 25px;
   margin-left: 120px; 
   color: #00370B;
   font-family: Arial, Helvetica, sans-serif;
}

.preparo{
    font-size: 25px;
    margin-left: 120px;
    color: #007C33;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 75px;
}

.preparo li{
    list-style: none;
} 
    

h5{
    color: #0A2E36;
    font-size: 36px;
    text-align: center;
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.outrasReceitas{
 border-radius: 37px;

}

.img1{
    width: 320px;
    margin-left: 155px;
    
}

.img2{
    width: 320px;
    margin-left: 33px;
}

.img3{
    width: 320px;
    margin-left: 32px;
    
}


    
